@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.contact {
  display: inline-flex;
  align-items: center;
  color: $text-color;
  font-size: $font-size-md;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $primary-color;

    .contact {
      &__icon {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    transition: 0.25s ease-in-out;

    .icon {
      width: rem(18px);
      height: rem(18px);
    }
  }

  &__title {
    margin-left: rem(12px);
  }
}
