@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.contact {
  display: inline-flex;
  align-items: center;
  color: $text-color;
  font-size: var(--font-size-md);
  text-decoration: none;

  @include hover {
    color: $primary-color;

    .contact {
      &__icon {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    transition: 0.25s ease-in-out;

    .icon {
      width: rem(12px);
      height: rem(12px);

      @include breakpoint(xl) {
        width: rem(18px, xl);
        height: rem(18px, xl);
      }
    }
  }

  &__title {
    margin-left: rem(12px);
  }
}
