mixin button(data, attributes)
  -
    var options = { tag: 'button', theme: 'primary', };
    var { tag, href, type, theme, fluid } = data ? { ...options, ...data } : options

  #{href ? 'a' : tag}.button(href=href type=type class=[theme && `button--${theme}`, fluid && 'button--fluid'])&attributes(attributes)
    block
