@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.menu-secondary {
  display: flex;
  margin: 0;
  padding-left: 0;
  font-size: var(--font-size-sm);
  list-style: none;

  &__item {
    margin-right: rem(15px);

    @include breakpoint(xl) {
      margin-right: $gutter-xl;
    }
  }
  
  &__link {
    color: $text-color;
    text-decoration: none;

    @include hover {
      color: $primary-color;
    }
  }
}
