@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.menu-primary {
  display: flex;
  margin: 0;
  padding-left: 0;
  font-size: var(--font-size-sm);
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: rem(4px);
    }

    &:first-child {
      .icon {
        color: $primary-color;
      }

      .menu-primary__link {
        @include hover {
          .icon {
            color: $white-color;
          }
        }
      }
    }
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(10px) rem(20px);
    height: rem(50px);
    color: $text-color;
    background-color: $bg-color;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    border-radius: $border-radius;

    @include hover {
      color: $white-color;
      background-color: $primary-color;
    }

    @include breakpoint(xl) {
      padding: rem(10px, xl) rem(24px, xl);
      height: rem(62px, xl);
    }

    .icon {
      margin-right: rem(10px);
      width: rem(18px);
      height: rem(18px);
      transition: 0.25s ease-in-out;

      @include breakpoint(xl) {
        width: rem(22px, xl);
        height: rem(22px, xl);
      }
    }
  }
}
