@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.hero {
  position: relative;

  &__heading {
    z-index: 2;
    margin-bottom: rem(25px);

    @include breakpoint(md) {
      margin-bottom: rem(30px, md);
    }

    @include breakpoint(xl) {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 49.8%;
      margin-bottom: 0;
      padding: rem(35px, xl) 0 rem(43px, xl) rem(34px, xl);
      border-radius: 0 0 var(--border-radius) 0;
    }
  }

  &__media {
    position: relative;
    padding-bottom: 135.5%;
    overflow: hidden;
    border-radius: var(--border-radius-xl);

    @include breakpoint(md) {
      padding-bottom: 89.5%;
    }

    @include breakpoint(xl) {
      padding-bottom: 48.1%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(xl) {
      mask-image: url('data:image/svg+xml,%3Csvg width="1880" height="903" viewBox="0 0 1880 903" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M856 328C900.183 328 936 292.183 936 248L936 80C936 35.8172 971.817 0 1016 0H1800C1844.18 0 1880 35.8172 1880 80V503C1880 547.183 1844.18 583 1800 583H1286C1241.82 583 1206 618.817 1206 663V823C1206 867.183 1170.18 903 1126 903H80C35.8172 903 0 867.183 0 823V408C0 363.817 35.8172 328 80 328L856 328Z" fill="%23001435"/%3E%3C/svg%3E%0A');
      mask-size: contain;
      mask-repeat: no-repeat;
    }
  }

  &__help-box {
    position: absolute;

    @include breakpoint(md, max) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100%;
      text-align: center;
      background: none;

      .help-box {
        &__heading {
          padding: rem(20px) rem(50px);
          max-width: 100%;
          color: $text-color;
          background-color: $white-color;
          border-radius: var(--border-radius);
        }

        &__button {
          padding: rem(22px);
          color: $white-color;
          border: 0;
          background: $gradient;
          font-size: var(--font-size-base);
        }
      }
    }

    @include breakpoint(md) {
      left: rem(35px, md);
      bottom: rem(35px, md);
      max-width: rem(295px, md);

      @include breakpoint(xl) {
        left: rem(50px, xl);
        bottom: rem(50px, xl);
        max-width: rem(395px, xl);
      }
    }
  }

  &__blocks {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: rem(20px);
    margin-top: rem(20px);

    @include breakpoint(xl) {
      position: absolute;
      bottom: rem(-3px);
      right: 0;
      z-index: 2;
      width: 35.85%;
      padding: $gutter 0 rem(5px) $gutter;
      background: $bg-color;
      border-radius: var(--border-radius) 0 0 0;
    }

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: none;
    }

    .text {
      @include breakpoint(xl) {
        font-size: rem(16px, xl);
      }
    }
  }

  .splide {
    &__slide {
      position: relative;
      margin-right: 0;
      width: 100%;
    }

    &__arrows {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: rem(15px);
      right: rem(15px);
      justify-content: space-between;
      margin-top: 0;
      transform: translateY(-50%);

      @include breakpoint(md) {
        top: auto;
        left: auto;
        right: rem(35px, md);
        bottom: rem(35px, md);
        transform: translateY(0);
      }

      @include breakpoint(xl) {
        bottom: rem(50px, xl);
        right: 35.85%;
        margin-right: rem(60px, xl);
      }
    }

    &__arrow {
      border-color: rgba($white-color, 0.2);

      &--prev {
        background-image: url($icon-arrow-left-white);
      }

      &--next {
        background-image: url($icon-arrow-right-white);
      }
    }
  }
}