include ../../ui/typography/heading/heading
include ../../widgets/card/card-feature/card-feature

mixin hero(data, attributes)
  .hero&attributes(attributes)
    +heading({ level: 1 })._heading Параллельный импорт авто из Азии, Америки и Европы

    .splide.slider(class='js-hero-slider')&attributes(attributes)
      ._track
        ._list
          ._slide
            .hero__media
              img.hero__img(src='/src/assets/img/tmp/hero.jpg' alt='')

    ._blocks
      +card-feature({
        title: '50 авто <br>в наличии',
        caption: 'посмотрите авто в наличии'
      })
