@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.select {
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: var(--input-padding-base);
    transform: translateY(-50%);

    & ~ .choices {
      .choices {
        &__inner {
          padding-left: calc(var(--input-padding-base) * 2);
        }
      }
    }
  }

  &__select {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
}

.choices {
  font-size: var(--font-size-md);

  &[data-type*=select-one] {
    &::after {
      right: var(--input-padding-base);
      margin-top: 0;
      width: rem(16px);
      height: rem(16px);
      border: 0;
      background: url($icon-angle-down) center center no-repeat;
      background-size: rem(9px) auto;
      transform: translateY(-50%);

      @include breakpoint(xl) {
        width: rem(20px, xl);
        height: rem(20px, xl);
      }
    }
  }

  @include hover {
    .choices {
      &__inner {
        border-color: $gray-700;
      }
    }
  }

  &.is-open {
    &[data-type*=select-one] {
      &::after {
        margin-top: rem(-10px);
        border: 0;
        transform: scaleY(-1);
      }
    }

    .choices {
      &__inner {
        border-color: $text-color;
        border-radius: var(--border-radius-xs);
        transition: none;
      }

      &__list {
        &--dropdown {
          margin-top: rem(10px);
        }
      }
    }

    &.is-flipped {
      .choices {
        &__list {
          &--dropdown {
            top: 100%;
            bottom: auto;
            margin-bottom: 0;
            margin-top: rem(10px);
            border-radius: var(--border-radius-xs);
          }
        }
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: rem(6px) calc(var(--input-padding-base) * 2) rem(4px) var(--input-padding-base);
    height: var(--input-height-base);
    font-size: inherit;
    background: transparent;
    border: 1px solid $gray-300;
    border-radius: $border-radius-sm;
    transition: border-color 0.25s ease-in-out;
  }

  &__list {
    &--dropdown {
      .choices {
        &__placeholder {
          display: none;
        }
      }
    }

    &--dropdown {
      z-index: $zindex-dropdown;
      border: 1px solid $secondary-color;
      background-color: $bg-color;
      border-radius: var(--border-radius-xs);

      @include breakpoint(xl) {
        padding-right: rem(8px, xl);
      }

      .choices {
        &__list {
          max-height: 430px;
          overflow-x: hidden;

          @include breakpoint(xl) {
            &::-webkit-scrollbar {
              width: rem(8px, xl);
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background: $primary-color;
              border-radius: $border-radius;
            }
          }

        }

        &__item {
          padding: rem(15px) var(--input-padding-base);
          font-size: inherit;

          @include breakpoint(xl) {
            margin-right: rem(-10px, xl);
            padding: rem(21px, xl) var(--input-padding-base);
          }

          &:not(:first-child) {
            border-top: 1px solid $secondary-color;
          }

          @include hover {
            background-color: $secondary-color;
            transition: background-color 0.25s ease-in-out;
          }

          &.is-highlighted {
            background-color: $secondary-color;
          }
        }
      }
    }

    &--single {
      padding: 0;
    }
  }
}