include ../../../ui/typography/text/text
include ../../../ui/badge/badge
include ../../../ui/properties/properties
include ../../../ui/price/price
include ../../../ui/icon/icon
include ../../../ui/form/button/button

mixin card-car(data, attributes)
  -
    var { type, href, title, caption, img, badge, availability, properties, price, blank, button } = data || {};

  .card-car(class=(type && `card-car--${type}`))&attributes(attributes)
    a._media(href=href title='')
      if img
        img._img(src=img alt='')

      if badge
        +badge({ theme: badge.theme })._badge= badge.title

      if blank
        .icon-blank._blank
          +icon('arrow-top-right')

    ._content
      ._info
        a._title(href=href title='')= title
        +badge._availability= availability

      +text({theme: 'muted'})._caption= caption

      +properties(properties)._properties

    ._footer
      +price(price)._price

      if button
        +button(button)._button= button.title