@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.detail {
  @include breakpoint(xl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gutter;
  }

  &__media {
    margin-bottom: rem(20px);

    @include breakpoint(xl) {
      margin-bottom: 0;
    }
  }

  &__slider {
    .splide__arrows {
      position: absolute;
      left: 0;
      right: 0;
      bottom: rem(40px, xl);
      z-index: 2;
      justify-content: center;

      .splide__arrow {
        border-color: rgba($white-color, 0.5);

        &--prev {
          background-image: url($icon-arrow-left-white);
        }

        &--next {
          background-image: url($icon-arrow-right-white);
        }
      }
    }
  }

  &__photo {
    position: relative;
    padding-bottom: 118%;
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius-lg);

    @include breakpoint(md) {
      padding-bottom: 62%;
    }
    
    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $white-color;
      font-size: var(--font-size-md);
      font-weight: 400;
      text-align: center;
      background-color: $gray-500;
      backdrop-filter: blur(2px);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__thumbnails {
    margin-top: rem(20px, xl);
    display: none;

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(16px, md);

      @include breakpoint(xl) {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    .detail {
      &__photo {
        display: none;
        border: 4px solid transparent;
        cursor: pointer;
        border-radius: var(--border-radius-xxs);

        @include breakpoint(xl) {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            display: block;
          }
        }

        &.is-active {
          border: 4px solid $primary-color;
        }
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }

        &--more {
          display: block;
        }
      }
    }
  }

  &__content {
    padding: rem(30px);
    background-color: $white-color;
    border-radius: var(--border-radius-lg);

    @include breakpoint(md) {
      padding: rem(50px, md);
    }

    @include breakpoint(xl) {
      padding: rem(60px, xl);
    }
  }

  &__heading,
  &__properties,
  &__price {
    margin-bottom: rem(20px);

    @include breakpoint(md) {
      margin-bottom: rem(30px, md);
    }

    @include breakpoint(xl) {
      margin-bottom: rem(35px, xl);
    }
  }

  &__properties {
    font-size: var(--font-size-md);
  }
}

.fancybox {
  &__container {
    opacity: 0;

    &[aria-hidden="false"] {
      opacity: 1;
    }
  }
}