@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.modal-feedback {
  &__header {
    margin-bottom: rem(20px);
    text-align: center;

    @include breakpoint(lg) {
      margin: 0 auto $gutter-xxl;
      max-width: rem(940px, lg);
    }
  }

  &__caption {
    &.text {
      margin-top: rem(15px);
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;

    @include breakpoint(md) {
      grid-template-columns: auto auto rem(165px, md);
    }

    @include breakpoint(lg) {
      grid-template-columns: auto auto rem(230px, lg);
    }

    @include breakpoint(xl) {
      gap: $gutter;
      margin-bottom: $gutter;
    }
  }
}