@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.consult {
  position: relative;
  z-index: 1;
  padding: rem(370px) rem(18px) rem(18px);
  overflow: hidden;
  border-radius: var(--border-radius-xl);

  @include breakpoint(md) {
    padding: rem(480px, md) rem(40px, md) rem(40px, md);
  }

  @include breakpoint(lg) {
    padding: rem(457px, lg) rem(50px, lg) rem(50px, lg);
  }

  &__card {
    padding: rem(20px);
    display: inline-block;
    width: 100%;
    background-color: $white-color;
    vertical-align: top;
    border-radius: var(--border-radius-lg);

    @include breakpoint(md) {
      padding: rem(40px, md) rem(55px, md) rem(40px, md) rem(40px, md);
      width: auto;
      //max-width: rem(500px, md);
    }

    @include breakpoint(xl) {
      padding: rem(50px, xl) rem(75px, xl) rem(50px, xl) rem(50px, xl);
      //max-width: rem(815px, xl);
    }
  }

  &__heading {
    margin-bottom: rem(20px);

    @include breakpoint(lg) {
      margin-bottom: $gutter-xxl;
    }

    .text {
      @include breakpoint(md) {
        display: block;
      }
    }
  }

  &__button {
    width: 100%;

    @include breakpoint(md) {
      width: auto;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
