@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.consult {
  position: relative;
  z-index: 1;
  padding: rem(370px) rem(18px) rem(18px);
  overflow: hidden;
  border-radius: var(--border-radius-xl);

  @include breakpoint(lg) {
    padding: rem(457px, lg) rem(50px, lg) rem(50px, lg);
  }

  &__card {
    padding: rem(20px);
    background-color: $white-color;
    border-radius: var(--border-radius-lg);

    @include breakpoint(lg) {
      padding: rem(50px, lg);
      max-width: rem(815px, lg);
    }
  }

  &__heading {
    margin-bottom: rem(20px);

    @include breakpoint(lg) {
      margin-bottom: $gutter-xxl;
    }

    .text {
      @include breakpoint(lg) {
        display: block;
      }
    }
  }

  &__button {
    width: 100%;

    @include breakpoint(lg) {
      width: auto;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
