include ../icon/icon

mixin properties(data, attributes)
  -
    var options = { orientation: 'horizontal', list: [] };
    var { theme, orientation, list } = data ? { ...options, ...data } : options

  ul.properties(class=[theme && `properties--${theme}`, `properties--${orientation}`])&attributes(attributes)
    each item in list
      li._property
        if item.icon
          +icon(item.icon)._icon

        ._content
          if item.label
            span._label= item.label

          if item.value
            span._value= item.value