include ../icon/icon

mixin properties(data, attributes)
  -
    var options = { tag: 'span', };
    var { theme } = data ? { ...options, ...data } : options

  ul.properties&attributes(attributes)
    each item in data
      ._property
        if item.icon
          +icon(item.icon)._icon

        ._content
          span._label= item.label
          span._value= item.value