include ../../../ui/b-icon/b-icon
include ../../../ui/typography/heading/heading
include ../../../ui/typography/text/text

mixin card-feature(data, attributes)
  -
    var { href, title, caption, icon, img } = data || {};
    var tag = href ? 'a' : 'div';

  .card-feature.card&attributes(attributes)
    +b-icon({ icon })._icon

    +heading({ level: 4 })._heading!= title

    +text({ size: 'sm' })= caption

    if img
      img._img(src=img alt='')

      .icon-blank._blank
        +icon('arrow-top-right')