include ../../../ui/b-icon/b-icon
include ../../../ui/typography/heading/heading
include ../../../ui/typography/text/text

mixin card-feature(data, attributes)
  -
    var { href, modal, title, caption, icon, img } = data || {};

  #{href ? 'a' : 'div'}.card-feature(href=href class=((modal || href) && 'card-feature--accent') data-modal-trigger=modal)&attributes(attributes)
    +b-icon(icon).card-feature__icon

    +heading({level: 4}).card-feature__heading!= title

    if caption
      +text({size: 'md'}).card-feature__text= caption

    if img
      img.card-feature__img(src=img alt='')

    if (modal || href)
      .icon-blank.card-feature__blank
        +icon('arrow-top-right')