include ../../../ui/b-icon/b-icon
include ../../../ui/typography/heading/heading
include ../../../ui/typography/text/text

mixin card-feature(data, attributes)
  -
    var { modal, title, caption, icon, img } = data || {};

  .card-feature(class=(modal && 'card-feature--accent') data-modal-trigger=modal)&attributes(attributes)
    +b-icon(icon)._icon

    +heading({level: 4})._heading!= title

    if caption
      +text({size: 'md'})._text= caption

    if img
      img.card-feature__img(src=img alt='')

    if modal
      .icon-blank.card-feature__blank
        +icon('arrow-top-right')