@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.pagination {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  font-size: var(--font-size-md);
  list-style: none;

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }
  
  &__link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(42px);
    height: rem(42px);
    color: currentColor;
    text-align: center;
    text-decoration: none;
    border-radius: rem(12px);
    transition: 0.25s ease-in-out;

    @include breakpoint(xl) {
      width: rem(68px, xl);
      height: rem(68px, xl);
      border-radius: rem(20px, xl);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $gradient;
      opacity: 0;
      border-radius: rem(12px);
      transition: 0.25s ease-in-out;

      @include breakpoint(xl) {
        border-radius: rem(20px, xl);
      }
    }

    @include hover {
      &:not(.pagination__link--disabled) {
        color: $white-color;

        &::before {
          opacity: 1;
        }
      }
    }

    &--current {
      color: $white-color;

      &::before {
        opacity: 1;
      }
    }

    &--disabled {
      color: rgba($text-color, 0.5);
      cursor: default;
      pointer-events: none;
    }
  }

  &__dots {
    margin: auto;
    text-align: center;
    width: rem(42px);
  }
}
