include ../b-icon/b-icon

mixin modal(data, attributes)
  -
    var options = { name: '', };
    var { name } = data ? { ...options, ...data } : options;

  .modal(id=`modal-${name}`)&attributes(attributes)
    ._overlay(data-modal-close)
      ._content
        +b-icon({ icon: 'close', theme: 'white-outline', type: 'rounded' })&attributes({ 'data-modal-close': '' })._close

        block