@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.modal {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden=true] {
    .modal {
      &__content {
        animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
      }

      &__overlay {
        animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
  }

  &[aria-hidden=false] {
    .modal {
      &__content {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
      }

      &__overlay {
        animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
  }

  &#modal-feedback {
    .modal {
      &__content {
        max-width: rem(1020px, xl);
      }
    }
  }

  &__content {
    margin: auto;
    padding: rem(30px) rem(20px);
    max-width: rem(1170px);
    width: 100%;
    background-color: $white-color;
    border-radius: var(--border-radius);
    will-change: transform;

    @include breakpoint(md) {
      padding: rem(40px, md) rem(30px, md);
    }

    @include breakpoint(xl) {
      padding: rem(45px, xl) $gutter-xxl;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-modal;
    display: flex;
    padding: rem(80px) rem(10px) rem(10px);
    background: rgba(0,0,0,0.6);
    will-change: transform;
    overflow-y: auto;
    overflow-x: hidden;

    @include breakpoint(xl) {
      padding: rem(100px, xl) 0 $gutter-xxl;
    }

    @include breakpoint(md) {
      padding: rem(100px, md) rem(20px, md) rem(20px, md);
    }
  }

  &__close {
    position: absolute;
    left: 100%;
    bottom: 100%;
    cursor: pointer;
    transform: translate(-100%, rem(-15px));
    transition: 0.25s ease-in-out;

    @include hover {
      color: $primary-color;
      background-color: $white-color;
    }

    @include breakpoint(xl) {
      transform: translate(0, 0);
    }
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
