@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.icon {
  flex-shrink: 0;
  width: rem(14px);
  height: rem(14px);

  @include breakpoint(xl) {
    width: rem(20px, xl);
    height: rem(20px, xl);
  }
}