@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.filter {
  padding: rem(20px);
  background-color: $white-color;
  border-radius: var(--border-radius-xl);

  @include breakpoint(md) {
    padding: rem(40px, md);
  }

  @include breakpoint(xl) {
    padding: rem(60px, xl);
  }

  &__grid {
    @include breakpoint(md) {
      @include grid-container();
    }

    @include breakpoint(xl) {
      margin-bottom: -$gutter-xl;
    }
  }

  &__column {
    @include breakpoint(md) {
      @include grid-item(5, 10);
    }

    @include breakpoint(xl) {
      @include grid-item(2, 10);
      margin-bottom: $gutter-xl;
    }

    &:not(:last-child) {
      margin-bottom: rem(15px);

      @include breakpoint(md) {
        margin-bottom: rem(20px, md);
      }
    }

    &--large {
      @include breakpoint(xl) {
        @include grid-item(3, 10);
      }
    }

    &--button {
      align-self: flex-end;

      @include breakpoint(md) {
        @include grid-item(1, 1);

        @include breakpoint(xl) {
          @include grid-item(2, 10);
        }
      }
    }
  }
}