include ../../ui/form/form-group/form-group
include ../../ui/form/input/input
include ../../ui/form/select/select
include ../../ui/form/button/button

mixin filter(data, attributes)
  -
    var selects = [
      { key: 'brands', title: 'Марка' },
      { key: 'models', title: 'Модель' },
      { key: 'engineTypes', title: 'Тип двигателя' },
      { key: 'drives', title: 'Привод' },
      { key: 'transmissions', title: 'Трансмиссия' },
    ];

    var groups = [
      { title: 'Год производства', postfix: 'г.', placeholder: { min: '2000', max: '2000' }, large: false },
      { title: 'Пробег', postfix: 'км', placeholder: { min: '1000', max: '200 000' }, large: true },
      { title: 'Стоимость', postfix: '₽', placeholder: { min: '100 000', max: '10 000 000' }, large: true },
    ]

  form.filter(action='/catalog.html')&attributes(attributes)
    ._grid
      each item in selects
        ._column
          +form-group({ title: item.title })
            +select({
              list: filter[item.key]
            })

      each item in groups
        ._column(class=(item.large && 'filter__column--large'))
          +form-group({ title: item.title })
            +form-group({ prefix: 'от', postfix: item.postfix })
              +input({ placeholder: item.placeholder.min, mask: 'number' })
            +form-group({ prefix: 'до', postfix: item.postfix })
              +input({ placeholder: item.placeholder.max, mask: 'number' })

      ._column.-button
        +button({ fluid: true }) Показать 34 авто
