@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.filter {
  padding: $gutter-xl;
  background-color: $white-color;
  border-radius: $border-radius-xs;

  &__grid {
    @include grid-container()
  }

  &__column {
    @include grid-item(2, 10);

    &--large {
      @include grid-item(3, 10);
    }

    &--button {
      align-self: flex-end;
    }
  }
}