extends  ../layouts/root

include ../components/layout/section/section

include ../components/ui/breadcrumbs/breadcrumbs
include ../components/ui/typography/heading/heading

include ../components/modules/consult/consult
include ../components/modules/slider/slider
include ../components/modules/detail/detail
include ../components/modules/equipment/equipment

block main
  main.main
    ._container.container
      ._header
        +breadcrumbs([
          { href: '/', title: 'Главная' },
          { href: '/catalog.html', title: 'Каталог' },
          { title: 'BMW 5 серия 2.0 AT' }
        ])._breadcrumbs

      ._body
        .content._content
          // start detail
          +detail
          // end detail

          // start equipment
          +section({ heading: 'Комплектация' })._section
            +equipment
          // end equipment

          // start consult
          +consult({
            title: 'Остались вопросы?',
            caption: 'Мы вам поможем!',
            img: '/src/assets/img/tmp/consult-2.jpg'
          })._consult
          // end consult

          // start related-cars
          +section({ heading: 'Похожие авто', headerClass: 'inline', arrows: true })._section
            +slider({
              jsClass: 'js-slider-default',
              card: 'card-car',
              slides: carsSlider
            })
          // end related-cars