extends  ../layouts/root

include ../components/ui/breadcrumbs/breadcrumbs
include ../components/ui/typography/heading/heading

include ../components/modules/consult/consult

block main
  main.main
    ._container.container
      ._header
        +breadcrumbs([
          { href: '/', title: 'Главная' },
          { title: 'Как происходит покупка авто' }
        ])._breadcrumbs

        +heading({ level: 1 }) Как происходит покупка авто

      ._body
        .content._content

          // start consult
          +consult({
            title: 'Не нашли подходящее авто?',
            caption: 'Мы вам поможем!',
            img: '/src/assets/img/tmp/consult-3.jpg'
          })._consult
          // end consult