extends  ../layouts/root

include ../components/layout/section/section

include ../components/modules/hero/hero
include ../components/modules/filter/filter
include ../components/modules/quiz/quiz
include ../components/modules/slider/slider
include ../components/modules/features/features
include ../components/modules/subscribe/subscribe

block vars
  - page = { title: 'Главная страница' };

block main
  main.main
    ._container.container
      // start hero
      +hero._hero
      // end hero

      // start filter
      +section({ heading: 'Каталог авто' })._filter
        +filter
      // end filter

      // start popular-cars
      +section({ heading: 'Популярные авто', headerClass: 'inline', arrows: true })._section
        +slider({
          jsClass: 'js-slider-default',
          card: 'card-car',
          slides: carsSlider
        })
      // end popular-cars

      // start features
      +section({ heading: 'Почему <span class="text text--gradient">выбирают</span><br>Autocreativ' })._section
        +features([
          {
            icon: {
              icon: 'search-car'
            },
            title: 'Подбор авто и проверка',
            caption: 'Мы проверяем авто перед покупкой, согласовываем с Вами все нюансы. Бесплатно для наших клиентов проверяем историю авто по базам США'
          }, {
            icon: {
              icon: 'paper'
            },
            title: 'Официальный договор',
            caption: 'Заключается договор между клиентом и нашей компанией, в котором мы несём ответственность согласно законодательству'
          }, {
            href: '#',
            icon: {
              icon: 'medal'
            },
            title: 'Работаем «под ключ»',
            caption: 'Всё просто! AutoCreativ помогает с момента обращения и до момента вручения автомобиля заказчику. Опыт заказа авто из США с 2022 года',
            img: '/src/assets/img/tmp/work.jpg'
          }, {
            icon: {
              icon: 'protection'
            },
            title: 'Страхование',
            caption: 'По желанию клиента автомобиль может быть застрахован. В среднем, страховка стоит 1-2,5% от стоимости авто'
          }, {
            icon: {
              icon: 'fast-delivery'
            },
            title: 'Выгодная доставка',
            caption: 'Доставляем автомобили из США безопасно и по минимальным тарифам, благодаря прямым договорам с логистическими компаниями'
          }, {
            icon: {
              icon: 'address'
            },
            title: 'Офис в Санкт-Петербурге',
            caption: 'Вы всегда можете обратиться за бесплатной консультацией к нашим сотрудников в офисе'
          }
        ])
      // end features

      // start quiz
      +quiz()._quiz
      // end quiz

      ._sections
        // start auction-cars
        +section({
          theme: 'secondary',
          heading: 'Автомобили с закрытых аукционов <span class="text-primary">Европы</span>',
          caption: 'AutoCreativ — ведущая компания, которая имеет привилегию владения бизнес-лицензиями на самых престижных аукционах в Европе. <br>Мы успешно сотрудничаем с Copart, Manheim и другими.',
          button: {
            title: 'Заказать авто из Европы',
            attrs: {
              'data-modal-trigger': 'modal-feedback'
            }
          },
          arrows: true
        })._section-secondary
          +slider({
              jsClass: 'js-slider-secondary',
              card: 'card-car-order',
              slides: carsOrder
          })
        // end auction-cars

        // start auction-cars
        +section({
          theme: 'secondary',
          heading: 'Автомобили с закрытых аукционов <span class="text-primary">США</span>',
          caption: 'AutoCreativ — ведущая компания, которая имеет привилегию владения бизнес-лицензиями на самых престижных аукционах в США. <br>Мы успешно сотрудничаем с Copart, Manheim и другими.',
          button: {
            title: 'Заказать авто из США',
            attrs: {
              'data-modal-trigger': 'modal-feedback'
            }
          },
          arrows: true
        })._section-secondary
          +slider({
              jsClass: 'js-slider-secondary',
              card: 'card-car-order',
              slides: carsOrder
          })
        // end auction-cars

      // start reviews
      +section({ heading: 'Отзывы наших клиентов', headerClass: 'inline', arrows: true })._section
        +slider({
          jsClass: 'js-slider-padding',
          card: 'card-review',
          slides: reviews
        })
      // end reviews

      // start subscribe
      +subscribe()._section
      // end subscribe

      // start our-blog
      +section({
        heading: 'Наш блог на YouTube',
        button: {
          href: "/",
          theme: 'danger',
          title: 'Подписаться',
          icon: 'youtube',
          attrs: {
            'target': '_blank'
          }
        },
        arrows: true,
        headerClass: 'inline-md'
      })._section
        +slider({
          jsClass: 'js-slider-padding',
          card: 'card-blog',
          slides: blog
        })
      // end our-blog
