@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.card-car {
  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-color: $light-color;
  }

  &__header {
    margin-bottom: calc($gutter * 1.5);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 0 auto;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.card-title {
      margin-bottom: 0;
    }
  }

  &__availability {
    flex-shrink: 0;
    margin-left: $gutter;
    padding: rem(6px 11px);
    font-size: rem(14px);
    border: 1px solid $border-color;
    border-radius: rem($border-radius);
  }

  &__properties {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-sm;
  }

  &__property {
    display: flex;
    align-items: center;
    flex: 1;

    &-icon {
      flex-shrink: 0;
      margin-right: rem(calc($gutter / 2));
      width: rem(25px);
      height: rem(25px);
    }
  }

  &__footer {
    margin-top: calc($gutter * 1.5);
  }

  &__price {
    color: $light-color;
    font-size: rem(32px);
    font-weight: $font-weight-medium;
  }

  &__old {
    margin-left: $gutter;
    color: $muted-color;
    font-size: 0.68em;
    font-weight: $font-weight-normal;
  }
}
