@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.card-car--order {
  .card-car {
    &__properties {
      justify-content: flex-start;
      gap: $gutter-lg;
      margin-top: rem(12px);
    }

    &__media {
      margin-top: $gutter;
      margin-bottom: 0;
    }

    &__footer {
      margin-top: rem(18px);
    }

    &__button {
      margin-top: $gutter;
    }
  }
}
