@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.price {
  display: flex;
  align-items: center;
  color: $primary-color;
  font-size: rem(20px);
  font-weight: $font-weight-medium;
  white-space: nowrap;

  @include breakpoint(md) {
    font-size: rem(26px, md);
  }

  @include breakpoint(xl) {
    font-size: rem(32px, xl);
  }

  &__item {
    &--current {
      .price__label {
        font-size: var(--font-size-md);
      }
    }

    &--old {
      margin-left: rem(10px);
      color: $gray-600;
      font-size: rem(16px);
      font-weight: $font-weight-normal;

      @include breakpoint(md) {
        font-size: rem(20px, md);
      }

      @include breakpoint(xl) {
        position: relative;
        top: -1px;
        margin-left: $gutter-lg;
        font-size: 0.68em;
      }

      .price__label {
        font-size: var(--font-size-sm);
        font-weight: $font-weight-normal;
      }

      .price__value {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 50%;
          margin-bottom: rem(-1px);
          border-bottom: 1px solid;
        }
      }
    }
  }

  &__label {
    display: block;
  }

  &__value {
    display: block;
    line-height: 1;
  }
}