@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.quiz {
  position: relative;
  z-index: 1;
  padding: rem(90px);
  color: $white-color;
  background: $gradient;
  border-radius: $border-radius-xl;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../img/bg-quiz.png') right bottom no-repeat;
  }

  &__heading {
    margin-bottom: $gutter-xxl;

    span {
      padding: rem(11px) $gutter rem(16px);
      display: inline-block;
      font-size: 0.68em;
      letter-spacing: -2%;
      border: 2px solid;
      border-radius: $border-radius;
    }
  }

  &__content {
    max-width: 725px;
  }

  &__sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15%;
    top: 25%;
    z-index: -2;
    padding-bottom: rem(70px);
    width: rem(320px);
    height: rem(320px);
    color: $text-color;
    font-size: rem(26px);
    font-weight: $font-weight-medium;
    line-height: 1.1;
    text-align: center;
    background: $white-color;
    border-radius: 50%;
    transform: rotate(-19deg);

    &-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon {
        width: rem(52px);
        height: rem(52px);
        transform: rotate(19deg);
      }
    }
  }
}

.quiz-form {
  padding: $gutter-xxl;
  color: $text-color;
  background-color: $white-color;
  border-radius: $border-radius-lg;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(13px);

    &-number {
      flex-shrink: 0;
      margin-right: rem(15px);
      padding: rem(2px) rem(9px);
      color: $gray-600;
      font-size: 14px;
      border: 1px solid rgba($text-color, 0.12);
      border-radius: $border-radius;

      span {
        color: $text-color;
      }
    }

    &-progress {
      display: flex;
      flex: 1 1 auto;
      min-width: 0;
      gap: rem(15px);
    }

    &-item {
      flex: 1;
      height: rem(7px);
      background-color: #E9EBED;
      border-radius: $border-radius;

      &.is-active {
        background-color: #1D8EE1;
      }
    }
  }

  &__title {
    margin-bottom: $gutter-xl;
    font-size: rem(26px);
    font-weight: 500;
  }

  &__grid {
    @include grid-container(10px);
  }

  &__column {
    @include grid-item(6)
  }

  &__buttons {
    display: flex;
    gap: $gutter;
    margin-top: $gutter;
  }

  &__button {
    flex: 1;
    max-width: 50%;
  }

  &__submit {
    .control {
      color: rgba($text-color, 0.5);
      font-size: 16px;
    }
  }

  &__inline {
    display: flex;
    align-items: flex-end;
    gap: $gutter;
    margin-bottom: $gutter;

    .form-group {
      flex: 1 1 auto;
    }

    .button {
      max-width: 290px;
    }
  }
}

.button.js-quiz-prev {
  display: none;
}

.js-quiz-submit {
  display: none;
}

.js-quiz-step:not(.is-active) {
  display: none;
}
