include ../../ui/typography/heading/heading
include ../../ui/form/button/button

mixin section(data, attributes)
  -
    var options = {};
    var { tag, theme, heading, caption, button, arrows, headerClass } = data ? { ...options, ...data } : options

  section.section(class=(theme && `section--${theme}`))&attributes(attributes)
    ._header(class=(headerClass && `section__header--${headerClass}`))
      ._description
        +heading._heading!= heading

        if caption
          ._caption!= caption

      if button || arrows
        ._aside
          if button
            +button(button)&attributes(button.attrs)= button.title

          if arrows
            ._arrows


    ._body
      block