@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.breadcrumbs {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    &:not(:last-child)::after {
      content: '/';
      margin: 0 $gutter;
      color: $gray-500;
    }
  }
  
  &__link {
    color: $gray-500;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}
