@use 'sass:color';
@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.socials {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &--primary {
    .socials {
      &__item {
        &:not(:last-child) {
          margin-right: rem(10px);

          @include breakpoint(xl) {
            margin-right: $gutter;
          }
        }
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(15px);

      @include breakpoint(xl) {
        margin-right: $gutter-lg;
      }
    }
  }

  &__link {
    color: $gray-800;

    @include hover {
      color: $primary-color;

      .b-icon {
        &::before {
          opacity: 0;
        }
      }
    }

    .b-icon {
      width: rem(60px);
      height: rem(60px);

      @include breakpoint(md) {
        width: rem(85px, md);
        height: rem(85px, md);
      }

      @include breakpoint(xl) {
        width: rem(110px, xl);
        height: rem(110px, xl);
      }

      .icon {
        width: rem(20px);
        height: rem(20px);

        @include breakpoint(md) {
          width: rem(25px, md);
          height: rem(25px, md);
        }

        @include breakpoint(xl) {
          width: rem(30px, xl);
          height: rem(30px, xl);
        }
      }
    }
  }
}