include ../../widgets/card/card-car/card-car
include ../../widgets/card/card-car-lg/card-car-lg

mixin slider(data, attributes)
  - var options = { slides: [] };
  - var { jsClass, card, slides } = data ? { ...options, ...data } : options;

  .splide.slider(class=jsClass)&attributes(attributes)
    ._track
      ._list
        each item in slides
          ._slide
            if (card === 'card-car')
              +card-car(item)

            if (card === 'card-car-lg')
              +card-car-lg(item)