include ../../widgets/card/card-review/card-review
include ../../widgets/card/card-blog/card-blog
include ../../widgets/card/card-car/card-car
include ../../widgets/card/card-car-order/card-car-order

mixin slider(data, attributes)
  - var options = { slides: [] };
  - var { jsClass, card, slides, gallery } = data ? { ...options, ...data } : options;

  .splide.slider(class=jsClass)&attributes(attributes)
    ._track
      ._list
        if (card === 'card-review')
          ._slide
            .card-review.-widget
              iframe(src='https://yandex.ru/maps-reviews-widget/182453445035?comments' frameborder=0)

          ._slide
            .card-review.-widget
              img(src='/src/assets/img/tmp/reviews.jpg' alt='')

        each item in slides
          ._slide
            if (card === 'card-car')
              +card-car(item)

            if (card === 'card-car-order')
              +card-car-order({...item, gallery})

            if (card === 'card-review')
              +card-review(item)

            if (card === 'card-blog')
              +card-blog(item)