@use '@assets/styles/vars' as *;

.input {
  padding: 0 var(--input-padding-base);
  width: 100%;
  height: var(--input-height-base);
  font-family: inherit;
  font-size: var(--font-size-md);
  outline: 0;
  border: 1px solid $gray-300;
  appearance: none;
  border-radius: $border-radius-sm;

  &__label {
    position: absolute;
    top: 7px;
    pointer-events: none;

    &--prefix {
      left: 10px;

      & ~ input {
        padding-left: 40px;
      }
    }

    &--postfix {
      right: 10px;

      & ~ input {
        padding-right: 30px;
      }
    }
  }
}
