@use 'vars' as *;
@use 'mixins' as *;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  //background: url('/public/homepage.jpg') center top no-repeat;

  @include breakpoint(xl) {
    font-size: clamp(14px, 1.04vw, 20px);
  }
}

body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: $line-height-base;
  background-color: $bg-color;

  //opacity: 0.5;
  //
  //&::-webkit-scrollbar {
  //  width: 0;
  //}
}

a {
  transition: 0.25s ease-in-out;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 rem(40px);
  font-weight: $font-weight-heading;
  line-height: 1;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

.text-primary {
  color: $primary-color;
}

.icon-blank {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  width: rem(42px);
  height: rem(42px);
  background-color: $white-color;
  border-radius: $border-radius;

  @include breakpoint(md) {
    width: rem(50px, md);
    height: rem(50px, md);
  }

  @include breakpoint(xl) {
    width: rem(58px, xl);
    height: rem(58px, xl);
  }

  .icon {
    width: rem(18px);
    height: rem(18px);

    @include breakpoint(md) {
      width: rem(22px, md);
      height: rem(22px, md);
    }

    @include breakpoint(xl) {
      width: rem(25px, xl);
      height: rem(25px, xl);
    }
  }
}

.accent {
  padding: rem(1px) rem(6px) rem(4px);
  display: inline-block;
  color: $primary-color;
  line-height: 0.9;
  border: 2px solid;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: $border-radius;

  @include breakpoint(xl) {
    padding: rem(8px, xl) rem(30px, xl) rem(12px, xl);
  }
}

.nowrap {
  white-space: nowrap;
}