@use "sass:math";
@use "sass:meta";
@use "sass:list";
@use "sass:map";

//@function vw($value, $base: 1920px) {
//  @return calc(#{math.div($value, $base) * 100vw} );
//}

$font-sizes: (
  default: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
);

@function rem($value, $breakpoint: default) {
  $font-size: map.get($font-sizes, $breakpoint);

  @return math.div($value, $font-size) * 1rem;
}

@mixin grid-container($gap: 20px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(math.div($gap, 2));
  margin-right: -(math.div($gap, 2));
}

@mixin grid-item($columns: 1, $grid: 12) {
  flex: 0 0 calc(100% / $grid * $columns);
  padding-left: math.div(20px, 2);
  padding-right: math.div(20px, 2);
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin breakpoint($size, $type: min) {
  $breakpoint: map.get($breakpoints, $size);

  @if $breakpoint {
    @if $type == max {  // Mobile-First (max-width)
      @media (max-width: $breakpoint - 1) { @content; }
    } @else if $type == min {  // Desktop-First (min-width)
      @media (min-width: $breakpoint) { @content; }
    }
  } @else {
    @warn "Breakpoint #{$size} не найден в карте $breakpoints.";
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}