@use "sass:math";
@use "sass:meta";
@use "sass:list";

//@function vw($value, $base: 1920px) {
//  @return calc(#{math.div($value, $base) * 100vw} );
//}

@function rem($value) {
  @return math.div($value, 20px) * 1rem;
}

@mixin grid-container($gap: 1rem) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(math.div($gap, 2));
  margin-right: -(math.div($gap, 2));
  margin-bottom: -$gap;
}

@mixin grid-item($columns: 1, $grid: 12) {
  flex: 0 0 calc(100% / $grid * $columns);
  margin-bottom: 1rem;
  padding-left: math.div(1rem, 2);
  padding-right: math.div(1rem, 2);
}