@use 'vars' as *;
@use 'mixins' as *;

// Libraries
@use 'normalize.css';
@use 'choices.js/public/assets/styles/choices.css';
@use '@splidejs/splide/dist/css/splide-core.min.css';

// Base
@use 'base';

// Components
@use '../../components/ui/**/*.scss';
@use '../../components/widgets/**/*.scss';
@use '../../components/modules/**/*.scss';
@use '../../components/layout/**/*.scss';


.container {
  margin: 0 auto;
  padding: 0 $gutter;
  max-width: 1920px;
}

.main {
  &__section {
    &:not(:last-child) {
      margin-bottom: rem(120px);
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: rem(30px);
    margin-bottom: rem(120px);
  }
}

.content {
  &__filter {
    margin-bottom: rem(60px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gutter;
  }

  &__pagination {
    margin-top: rem(50px);
    justify-content: center;
  }
}

.splide__arrows {
  display: none;
}