@use '@assets/styles/mixins' as *;

.features {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    //@include grid-container();
  }

  &__column {
    //@include grid-item(4);
  }
}
