@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.features {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem($gutter);
  }

  &__column {
    &:nth-child(3).features__column--photo {
      margin-top: rem(-200px);

      .card-feature {
        justify-content: flex-end;
        color: $white-color;
      }
    }
  }
}
