@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.help-box {
  padding: rem(15px);
  width: 100%;
  color: $white-color;
  background: $gradient;
  border-radius: var(--border-radius-xs);

  @include breakpoint(md) {
    padding: rem(30px, md);
  }

  @include breakpoint(xl) {
    padding: $gutter-xxl;
  }

  &__heading {
    line-height: 1.33;

    @include breakpoint(md) {
      margin-bottom: rem(20px, md);
    }

    @include breakpoint(xl) {
      margin-bottom: $gutter-xl;
    }
  }

  &__button {
    font-size: var(--font-size-md);

    @include breakpoint(md) {
      min-width: rem(207px, md);
    }

    @include breakpoint(xl) {
      min-width: rem(262px, xl);
    }
  }
}
