@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.text {
  margin: 0;

  &--primary {
    color: $primary-color;
  }

  &--secondary {
    color: $gray-400;
  }

  &--muted {
    color: $gray-700;
  }

  &--gradient {
    color: $primary-color;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--md {
    font-size: $font-size-md;
  }
}