@use '@assets/styles/vars' as *;
@use '@assets/styles/mixins' as *;

.text {
  margin: 0;

  &--primary {
    color: $primary-color;
  }

  &--muted {
    color: $gray-700;
  }

  &--sm {
    font-size: rem($font-size-md);
  }
}